@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

/* remove arrow increment starts */
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
/* remove arrow increment end */
:root {
    --linear-gradient: linear-gradient(90deg, #38bdf8, #3428d9, #1d4795);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background: var(--linear-gradient);
    color: #d1d5db;
}

#calculator {
    
    background-color: #262626;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.323);
    gap: 5px;
}

#calculator h2 {
    font-size: 30px;
}

#calculator h2::before{
    content: '';
    height: 3px;
    width: 150px;
    background: var(--linear-gradient);
    bottom: 5px;
}

#input_box {
    gap: 25px;
}

.input-field input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3428d9;
    color: #fff;
    font-size: 20px;
    padding: 5px;
}

.input-field input:focus {
    outline: none;
}

#result, #resultadoAno {
    text-align: center;
}

#total {
    font-size: 30px;
}

#parcelas {
    font-size: 30px;
}

#calculate {
    background: var(--linear-gradient);
    cursor: pointer;
}

footer {

    background: var(--linear-gradient);
}