@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

/* remove arrow increment starts */
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
/* remove arrow increment end */
:root {
    --linear-gradient: linear-gradient(90deg, #38bdf8, #3428d9, #1d4795);
    --linear-gradient2: linear-gradient(90deg, #ffffff20, #ffffff77, #ffffff83);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background: var(--linear-gradient);
    backdrop-filter: blur(100px);
    border-color: #262626;
    color: #d1d5db;
}

#calculator {
    
    background-color: #262626;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.323);
    gap: 5px;
}

#calculator h2 {
    font-size: 30px;
}

#calculator h2::before{
    content: '';
    height: 3px;
    width: 150px;
    background: var(--linear-gradient);
    bottom: 5px;
}

#input_box {
    gap: 25px;
}

.input-field input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3428d9;
    color: #fff;
    font-size: 20px;
    padding: 5px;
}

.input-field input:focus {
    outline: none;
}

#result, #resultadoAno {
    text-align: center;
}

#total {
    font-size: 30px;
}

#parcelas {
    font-size: 30px;
}

#calculate {
    background: var(--linear-gradient);
    cursor: pointer;
}
/* CONMTAINER 2 */

#calculator2 {
    
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.323);
    gap: 5px;
}

#calculator2 h2 {
    font-size: 30px;
}

#calculator2 h2::before{
    content: '';
    height: 3px;
    width: 150px;
    background: var(--linear-gradient2);
    backdrop-filter: blur(10px);
    bottom: 5px;
}

#input_box2 {
    gap: 25px;
}

.input-field2 input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3428d9;
    color: #fff;
    font-size: 20px;
    padding: 5px;
}

.input-field2 input:focus {
    outline: none;
}

#result2, #resultadoAno2 {
    text-align: center;
}

#total2 {
    font-size: 30px;
}

#parcelas2 {
    font-size: 30px;
}

#calculate2 {
    background: var(--linear-gradient2);
    backdrop-filter: blur(10px);
    cursor: pointer;
}


/* END CONTAINER 2 */

footer {

    background: var(--linear-gradient);
}

#calculator2 {
    max-height: 80vh;
    overflow-y: auto;
    
}

/* Responsive Mobile Part */

@media screen and (min-width: 501px) and (max-width: 1266px) {
    body {
      height: 100vh;
      display: flex;
      flex: auto;
      flex-direction: column;
    }

    #container {
        padding-top: 10px !important;
        height: auto !important;
         flex: auto;
    }
}

  @media screen and (min-width: 375px) and (max-width: 500px) {
    body {
      height: 105vh;
      display: flex;
      flex: auto;
      flex-direction: column;
    }

    #container {
        padding-top: 10px !important;
        height: auto !important;
         flex: auto;
    }
}

/* Responsive Mobile Part end */


